<div *ngIf="isCameraExist; else noCameraExist">
    <div style="text-align:center">
        <webcam [width]="width" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam" [switchCamera]="nextWebcamObservable"></webcam>
        <br />
        <div class="btn-group">
            <button class="btn btn-info" (click)="takeSnapshot()">Tomar Foto</button>
            <button class="button" (click)="changeWebCame(true)" hidden>Toggle Camera</button>
            <button class="button" (click)="onOffWebCame()" hidden>Switch camera</button>
        </div>
    </div>

    <div *ngIf="errors.length > 0">
        <h4>Error Messages:</h4>
        <ul *ngFor="let error of errors">
            <li>{{ error | json }}</li>
        </ul>
    </div>
</div>

<ng-template #noCameraExist>
    Camera device not available
</ng-template>