/* You can add global styles to this file, and also import other style files */

.cursor {
    cursor: pointer;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.gray {
    background-color: #f5f5f5
}

.highlight {
    background: #398bf7;
}

.rcorners5px {
    border-radius: 5px;
    border: 1px solid #67757c;
    padding: 10px;
}

.mat-table {
    overflow-x: auto;
}