<div class="container" [style]="getWidth()">
    <div class="row p-2" *ngIf="titulo">
        <h2 class="card-title">{{ titulo }}</h2>
    </div>
    <div class="row p-2" *ngIf="verFiltro">
        <div class="col">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Filtrar por ..." size="40" maxlength="40" [(ngModel)]="filtro" (keyup.enter)="onChange($event.target.value)" />
                <button class="input-group-addon btn btn-danger" title="Limpiar filtro" alt="Limpiar filtro" (click)="limpiarFiltro()">
                    <li class="fa fa-close"></li>
                </button>
            </div>
        </div>
    </div>
    <mat-table #table [dataSource]="dataSource" *ngIf="dataSource.data.length > 0">
        <ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">
            <mat-header-cell *matHeaderCellDef class="text-light bg-dark"> {{column.value}}</mat-header-cell>
            <ng-container *ngIf="column.id !== 'activo'; else activo">
                <mat-cell *matCellDef="let element" class="table-bordered">
                    {{ column.isCurrency ? (element[column.id] | currency) : ( column.isObject ? element[column.id].nombre : element[column.id]) }}
                </mat-cell>
            </ng-container>
            <ng-template #activo>
                <mat-cell *matCellDef="let element" class="table-bordered"> {{element[column.id] ? 'Si' : 'No'}}</mat-cell>
            </ng-template>
        </ng-container>
        <ng-container matColumnDef="opciones">
            <mat-header-cell *matHeaderCellDef class="text-light bg-dark"></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <a data-toggle="tooltip" data-original-title="Editar" class="btn cursor" (click)="btnEditarClick(element)">
                    <i class="fa fa-pencil text-info"></i>
                </a>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{'highlight': selectRowIndex == row.id, gray: even}" (click)="selectRowClick(row)"></mat-row>
    </mat-table>

    <mat-paginator appPagination *ngIf="dataSource.data.length > 0" [pageSizeOptions]="[5, 10, 20]" [pageSize]="pageSize" [length]="totalElements" (page)="nextPage($event)" showFirstLastButtons></mat-paginator>

    <div *ngIf="dataSource.data.length == 0">
        <div class="row p-2">
            <div class="col">
                <p>No se encontraron registros</p>
            </div>
        </div>
    </div>
</div>