<div class="form-material">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Información del Proveedor</h2>
            <div class="rcorners5px">
                <div class="row">
                    <div class="col-1 py-2">
                        <label for="">Nit:</label>
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" name="nit" [(ngModel)]="proveedorSel.nit" (keyup.enter)="buscarProveedor($event.target.value)" maxlength="15" size="15">
                    </div>
                    <div class="col-1 py-2">
                        <label for="">Nombre:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="nombre" [(ngModel)]="proveedorSel.nombre" (keyup.enter)="buscarProveedor($event.target.value)">
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <label for="">Teléfono(s):</label>
                    </div>
                    <div class="col-4">
                        <label for="form-control">{{proveedorSel.telefono}}</label>
                    </div>
                    <div class="col-1">
                        <label for="">Dirección:</label>
                    </div>
                    <div class="col">
                        <label for="form-control">{{proveedorSel.direccion}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Datos de la Factura</h2>
            <div class="rcorners5px">
                <div class="row p-2">
                    <div class="col-1 py-2">
                        <label for="">Número:</label>
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" name="numerofactura" [(ngModel)]="factura.numeroFactura" maxlength="15" size="15">
                    </div>
                    <div class="col-2 py-2">
                        <label for="">Fecha de Expedición:</label>
                    </div>
                    <div class="col-2">
                        <input type="date" class="form-control" name="fechaexpedicion" [(ngModel)]="factura.fechaExpedicion" size="15" maxlength="15" [max]="ahora">
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-1 py-2">
                        <label for="">Valor Iva:</label>
                    </div>
                    <div class="col-2">
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="text" name="valoriva" [(ngModel)]="factura.valorIva" appDigitOnly decimal="true" placeholder="0.00" inputmode="numeric" pattern="^\d{1,9}(\.\d{1,2})?$" class="form-control text-right" maxlength="15" size="15">
                        </div>
                    </div>
                    <div class="col-2 py-2">
                        <label for="">Valor Total:</label>
                    </div>
                    <div class="col-2">
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="text" name="valortotal" [(ngModel)]="factura.valorFactura" appDigitOnly decimal="true" placeholder="0.00" inputmode="numeric" pattern="^\d{1,9}(\.\d{1,2})?$" class="form-control text-right" maxlength="15" size="15">
                        </div>
                    </div>
                    <div class="col-2 py-2">
                        <label for="">Fecha de Vencimiento:</label>
                    </div>
                    <div class="col-2">
                        <input type="date" class="form-control" name="fechavencimiento" [(ngModel)]="factura.fechaVencimiento" size="15" maxlength="15" [min]="ahora">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Detalles de los Artículos de la Factura</h2>
            <div class="rcorners5px">
                <div class="row p-2">
                    <div class="col-1 py-2">
                        <label for="">Id Artículo:</label>
                    </div>
                    <div class="col-1">
                        <input type="text" #idarticuloTxt name="idarticulo" [(ngModel)]="detalleSel.idarticulo" appDigitOnly inputmode="numeric" pattern="^\d{1,9}$" class="form-control text-right" (keyup.enter)="buscarArticuloById($event.target.value)" />
                    </div>
                    <div class="col-2 py-2">
                        <label for="">Nombre:</label>
                    </div>
                    <div class="col">
                        <mat-form-field class="col-8">
                            <input matInput aria-label="State" [matAutocomplete]="auto" [formControl]="buscadorArticulosCtrl" size="40" maxlength="40">
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="asignarArticuloSel($event.option.value)">
                                <mat-option *ngIf="isLoading" class="is-loading">Consultando..</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let articulo of articulosFiltrados" [value]="articulo">
                                        <span>{{articulo.nombreComercial}} x {{articulo.presentacion?.nombre}}</span>
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                        <button class="btn" title="Buscar Artículos" (click)="openModal('buscarArticulosMd')"><li class="fa fa-search"></li></button>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-1 py-2">
                        <label for="">Cantidad:</label>
                    </div>
                    <div class="col-1">
                        <input type="text" name="cantidad" [(ngModel)]="detalleSel.cantidad" appDigitOnly placeholder="0" inputmode="numeric" pattern="^\d{1,9}$" class="form-control text-right" />
                    </div>
                    <div class="col-2 py-2">
                        <label for="">Valor de Compra:</label>
                    </div>
                    <div class="col-2">
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="text" name="valorcompra" [(ngModel)]="detalleSel.valorCompra" appDigitOnly decimal="true" placeholder="0.00" inputmode="numeric" pattern="^\d{1,9}(\.\d{1,2})?$" class="form-control text-right" maxlength="15" size="15">
                        </div>
                    </div>
                    <div class="col-2 py-2">
                        <label for="">Valor de Venta:</label>
                    </div>
                    <div class="col-2">
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="text" name="valorventa" [(ngModel)]="detalleSel.valorVenta" appDigitOnly decimal="true" placeholder="0.00" inputmode="numeric" pattern="^\d{1,9}(\.\d{1,2})?$" class="form-control text-right" maxlength="15" size="15">
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="checkbox">
                            <label class="px-2">¿Es bonificación?</label>
                            <input name="bonificacion" [(ngModel)]="detalleSel.bonificacion" class="form-check-input" type="checkbox" id="checkboxNoLabel" aria-label="..." />
                            <label for="checkboxNoLabel">&nbsp;</label>
                        </div>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col">
                        <div class="row p-2">
                            <h3>Listado de Artículos</h3>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <mat-table #table [dataSource]="dataSource">
                                    <ng-container matColumnDef="{{column.id}}" *ngFor="let column of colsArticulos">
                                        <mat-header-cell *matHeaderCellDef class="text-light bg-dark">
                                            {{column.value}}
                                        </mat-header-cell>
                                        <ng-container *ngIf="column.id !== 'bonificacion'; else activo">
                                            <mat-cell *matCellDef="let element" class="table-bordered p-2"> {{element[column.id]}}</mat-cell>
                                        </ng-container>
                                        <ng-template #activo>
                                            <mat-cell *matCellDef="let element" class="table-bordered p-2"> {{element[column.id] ? 'Si' : 'No'}}</mat-cell>
                                        </ng-template>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{'highlight': selectRowIndex == row.pos, 'gray':even}" (click)="seleccion(row)"></mat-row>
                                </mat-table>
                            </div>
                            <div class="col btn-group-vertical">
                                <button type="button" class="btn" (click)="agregar()"><li class="fa fa-plus"></li> Agregar</button>
                                <button type="button" class="btn" (click)="retirar()"><li class="fa fa-minus"></li> Retirar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-1">
                        <label for="">Anotaciones:</label>
                    </div>
                    <div class="col-10">
                        <textarea name="anotaciones" [(ngModel)]="factura.anotaciones" rows="3" style="min-width: 100%"></textarea>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col text-right">
                        <button type="button" (click)="reset()" class="btn btn-danger">Limpiar</button>
                        <span class="px-2"></span>
                        <button type="button" (click)="guardar()" class="btn btn-info">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <jw-modal id="buscarArticulosMd">
        <div class="row">
            <app-listado-articulos (selectArticulo)="seleccionarArticulo($event)" [verFiltro]="true"></app-listado-articulos>
        </div>
    </jw-modal>
</div>